.graphic-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.graphic {
    height: 540px;
    width: 960px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
}

.background {
    position: absolute;
    height: 540px;
    width: 960px;
    background-size: 100% 100%;
    z-index: 2;
}

.bracket {
    position: absolute;
    height: 540px;
    width: 960px;
    background-size: 100% 100%;
    z-index: 3;
}

.logo {
    height: 68px;
    width: 120px;
    background-size: 100% 100%;
    position: absolute;
    z-index: 4;
}

.title {
    font-size: 50px;
    color: white;
    width: 960px;
    text-align: center;
    position: absolute;
    z-index: 5;
}